<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>home</title>
        <link rel="stylesheet" href="stylesheet home.css">
    </head>
    
    <body>
        <header>
            <div class="header-logo">タイトル</div>
        </header>
        <contents>
            <div class="contents-list">
                <ul>
                    <li><a href="manager.html">課題管理<a></li>
                        <li><a href="store.html">購買＆自販機</a></li>
                    <li><a href="announce.html">事務連絡</a></li>
                    <li><a href="calender.html">年間予定表</a></li>
                
                </ul>
        </contents>
    </body>
</html>
