<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>task manager</title>
        <link rel="stylesheet" href="stylesheet manager.css">
    </head>

    <body>

        <header>
            <div class="header-logo">課題管理</div>
        </header>

        <div class="contents">

            <form>
                <p>
                    課題の［教科,内容,先生］を入力してください。<br>
                    尚、反映に時間がかかることもあります。
                </p>
                <input>
                <input type="date" min="2024-04-00" max="2024-12-31">
                <!--valueで日付指定　value無しも可-->
            </form>

            <div class="year">

                <div class="first-half">
                    <a href="4month.html">4月</a>
                    <a href="5month.html">5月</a>
                    <a href="6month.html">6月</a>
                    <a href="7month.html">7月</a>
                    <a href="8month.html">8月</a>
                    <a href="9month.html">9月</a>
                </div>

                <div class="second-half">
                    <a href="10month.html">10月</a>
                    <a href="11month.html">11月</a>
                    <a href="12month.html">12月</a>
                    <a href="1month.html">1月</a>
                    <a href="2month.html">2月</a>
                    <a href="3month.html">3月</a>
                </div>
            </div>

        </div>
        
        <footer>

        </footer>
    </body>
</html>