<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>store</title>
        <link rel="stylesheet" href="stylesheet store.css">
    </head>

    <body>
        <header>
            MENU
        </header>
        
        <div class="contents">
            <div class="purchase">
                <ul>
                    <div class="lunch">購買メニュー（予約販売）</div>
                    <li>¥140 クリームパン</li>
                    <li>¥140 あんぱん</li>
                    <li>¥140 メロンパン</li>
                    <li>¥120 ツイストドーナッツ</li>
                    <li>¥140 チョココロネ</li>
                    <li>¥140 ショコラ</li>
                    <li>¥140 コーンパン</li>
                    <li>¥140 ウィンナーパン</li>
                    <li>¥140 エッグマヨネーズ</li>
                    <li>¥140 カレーパン</li>
                    <li>¥140 ハムカツロール</li>
                    <li>¥140 カツロール</li>
                    <li>¥140 焼きそばパン</li>
                    <li>¥140 二色サンドイッチ</li>
                    <li>¥140 コロッケサンド</li>
                    <li>¥140 ハンバーガー</li>
                    <li>¥170 チキンたつた</li>
                    <li>¥170 フィッシュバーガー</li>
                    <li>¥170 メンチカツバーガー</li>
                    <li>¥140 チーズドッグ</li>
                    <li>¥140 ココアドッグ（現在販売停止中）</li>
                    <li>¥360 日替わり弁当（月：唐揚げ弁当 火：オムライス 水：カツ丼 木：ハンバーグ 金：ソースかつ弁当）</li>
                    <li>¥240 ミニ豚焼肉弁当</li>
                    <li>¥230 おにぎり（２個入り）</li>
                    <li>¥360 カレーライス</li>
                    <br>
                    <div class="lunch">購買メニュー（昼休み販売）</div>
                    <li>おいしいコーヒー（乳飲料）</li>
                    <li>ミルクコーヒー</li>
                    <li>ミルクココア</li>
                    <li>オ・レ フルーツ</li>
                    <li>オ・レ いちご</li>
                    <li>不二家 ネクター</li>
                    <li>１日分の野菜</li>
                    <li>ビタミン野菜</li>
                    <li>プリン</li>
                </ul>
            </div>
            <div class="drink">
                <ul>
                    自動販売機メニュー
                    <li>¥80 颯  アサヒ</li>
                    <li>¥70 麦茶  十六茶</li>
                    <li>¥80 Welch's フルーツウォーターレモン</li>
                    <li>¥80 三ツ矢サイダー</li>
                    <li>¥100 POCARI SWEAT</li>
                    <li>¥50 おいしい水 アサヒ</li>
                    <li>¥80 カルピスウォーター アサヒ</li>
                    <li>¥60 WILKINSON</li>
                    <li>¥90 THE BLACK</li>
                    <li>¥60 さらさらトマト</li>
                    <li>¥70 Welch's ぶどうポリフェノール</li>
                    <li>¥70 ぐんぐんグルト</li>
                    <li>¥70 乳酸菌飲料 睡眠の質腸内環境</li>
                    <li>¥70 MORNING SHOT WONDA</li>
                    <li>¥70 金の微糖 WONDA</li>
                    <li>¥70 アイス マウンテン WONDA</li>
                    <li>¥70 太陽のモカ WONDA</li>
                    <li>¥80 コクの深みBLACK WONDA</li>
                    <li>¥80 コクの深みカフェオレ WONDA</li>
                    <li>¥90 直火焙煎カフェオレ DOUTOR</li>
                    <li>¥70 颯 アサヒ</li>
                    <li>¥120 特茶</li>
                    <li>¥80 伊右衛門</li>
                    <li>¥70 やさしい麦茶</li>
                    <li>¥90 ダブルビタミン</li>
                    <li>¥90 きりっと果実</li>
                    <li>¥70 天然水 サントリー</li>
                    <li>¥70 CCレモン</li>
                    <li>¥110 午後の紅茶 ミルクティー</li>
                    <li>¥100 FRUIT TEA BOSS</li>
                    <li>¥100 LEMON TEA BOSS</li>
                    <li>¥70 なっちゃんリンゴ</li>
                    <li>¥70 アセロラ ニチレイ</li>
                    <li>¥70 CCレモン南国 フレーバーミックス</li>
                    <li>¥70 MOUNTAIN DEW</li>
                    <li>¥70 イチゴミルク</li>
                    <li>¥70 W-IMPACT 微糖 BOSS</li>
                    <li>¥70 地中海ブレンド BOSS</li>
                    <li>¥70 コーヒーと牛乳と満足感 BOSS</li>
                    <li>¥70 凱旋の一服 BOSS</li>
                    <li>¥70 BLACK BOSS</li>
                    <li>¥70 W-IMPACT 微糖 BOSS</li>
                    <li>¥70 カフェオレ BOSS</li>
                    <li>¥80 Latte CRAFT BOSS</li>
                    <li>¥80 とろける白桃オレ CRAFT BOSS</li>
                    <li>¥70 淹れたて 伊右衛門</li>
                    
                </ul>
            </div>
        </div>

        <footer>
            5/24更新
        </footer>
    </body>

</html>

